<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Conta bancária</title>
</head>

<body>

    <h1>Conta Bancária</h1>
    <p>Banco: {{ object.banco }}</p>
    <p>Numero agencia: {{ object.numero_agencia }}</p>
    <p>Digito verificador agencia: {{ object.digito_verificador_agencia }}</p>
    <p>Numero conta bancaria: {{ object.numero_conta_bancaria }}</p>
    <p>Digito verificador conta bancaria: {{ object.digito_verificador_conta_bancaria }}</p>

    <a href="{% url ''%}">Clique aqui para cadastrar uma conta bancária</a>
</body>

</html>